# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Environments
.venv/
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Credentials (jangan commit file asli)
service_account_info.py

# Cache & build
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
